* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-bn-en.bn-en.dix -text
/apertium-bn-en.bn-en.t1x -text
/apertium-bn-en.bn-en.t2x -text
/apertium-bn-en.bn-en.t3x -text
/apertium-bn-en.bn.dix -text
/apertium-bn-en.en-bn.t1x -text
/apertium-bn-en.en-bn.t2x -text
/apertium-bn-en.en-bn.t3x -text
/apertium-bn-en.en.dix -text
/autogen.sh -text
/bn-en.prob -text svneol=unset#unset
/configure.ac -text
dev/Makefile -text
dev/Readme.txt -text
dev/adjective/adjective-extra.bn.speling -text
dev/adjective/adjective.bn.dix -text
dev/adjective/adjective.bn.expand -text
dev/adjective/adjective.bn.speling -text
dev/adjective/create-adjective-dix.sh -text
dev/adjective/create-speling-adjective.py -text
dev/adverb/adverb-extra.bn.list -text svneol=unset#application/octet-stream
dev/adverb/adverb-main.bn.list -text svneol=unset#application/octet-stream
dev/adverb/adverb.bn.dix -text
dev/adverb/adverb.bn.expand -text svneol=unset#application/octet-stream
dev/adverb/adverb.bn.list -text svneol=unset#application/octet-stream
dev/adverb/adverb.bn.speling -text
dev/adverb/create-adverb-dix.sh -text
dev/adverb/create-speling-adverb.py -text
dev/adverb/to-dix-quick.sh -text
dev/ankur-dix/ankur-dix.dct -text svneol=unset#application/octet-stream
dev/bdix/adjective.bdix -text
dev/bdix/adjective.list -text
dev/bdix/create-new-bdix-entry.sh -text
dev/bdix/noun.bdix -text
dev/bdix/noun.list -text
dev/bdix/proper-noun.bdix -text
dev/bdix/verb.list -text svneol=unset#application/octet-stream
dev/clean.sh -text
dev/config/PersistantConnection.class.php -text
dev/conjunction/conjuction.bn.dix -text
dev/conjunction/conjuction.bn.list -text svneol=unset#application/octet-stream
dev/conjunction/conjuction.bn.speling -text
dev/conjunction/create-conjunction-dix.sh -text
dev/conjunction/to-dix-quick.sh -text
dev/country-list.xml -text
dev/create-speling-from-paradef.py -text
dev/database/bdict.db -text
dev/database/bn.hitparade.txt -text
dev/database/freq.csv -text
dev/database/generate-meaning-table.php -text
dev/database/noun.db -text
dev/database/populate-dictionary-table.php -text
dev/database/populate-freq-table.php -text
dev/database/seperateTaggedUntagged.sh -text
dev/database/tagged-trunkated.db -text
dev/database/tagged.db -text
dev/database/tags.txt -text
dev/database/untagged.db -text
dev/database/verbs.db -text
dev/db-backup/make_svn_fiendly_mysql_dump.py -text
dev/db-backup/mysqldump.sql -text
dev/db-backup/restore-db-backup.sh -text
dev/db-backup/take-db-backup.sh -text
dev/determiner/create-determiner-dix.sh -text
dev/determiner/create-determiner-speling.sh -text
dev/determiner/determiner.bn.dix -text
dev/determiner/determiner.bn.expand -text
dev/determiner/determiner.bn.speling -text
dev/determiner/resultset.csv -text
dev/elementtree/ElementInclude.py -text
dev/elementtree/ElementPath.py -text
dev/elementtree/ElementTree.py -text
dev/elementtree/HTMLTreeBuilder.py -text
dev/elementtree/SimpleXMLWriter.py -text
dev/elementtree/TidyHTMLTreeBuilder.py -text
dev/elementtree/TidyTools.py -text
dev/elementtree/__init__.py -text
dev/extract-tool/apertium2extract.py -text
dev/extract-tool/create-extract.sh -text
dev/extract-tool/reformat.py -text
dev/generate-dix.sh -text
dev/gsoc2011/bidix/adjective/adj.ambiguous -text
dev/gsoc2011/bidix/adjective/adj.patch -text
dev/gsoc2011/bidix/adjective/adj.todo -text
dev/gsoc2011/bidix/adjective/get-adj-todo.sh -text
dev/gsoc2011/bidix/adjective/not.adj -text svneol=unset#application/octet-stream
dev/gsoc2011/bidix/adjective/tag-adj.sh -text
dev/gsoc2011/bidix/noun/get-noun-todo.sh -text
dev/gsoc2011/bidix/noun/not.noun -text svneol=unset#application/octet-stream
dev/gsoc2011/bidix/noun/noun.ambiguous -text
dev/gsoc2011/bidix/noun/noun.patch -text
dev/gsoc2011/bidix/noun/noun.todo -text
dev/gsoc2011/bidix/noun/tag-noun.sh -text
dev/gsoc2011/monodix/adjective/adj.bn.patch -text
dev/gsoc2011/monodix/adjective/adj.inflections -text
dev/gsoc2011/monodix/adjective/adj.pardefs -text
dev/gsoc2011/monodix/adjective/adjective.bn.dix -text
dev/gsoc2011/monodix/adjective/create_adj_monodix_entry.py -text
dev/gsoc2011/monodix/adjective/fresh.adj -text
dev/gsoc2011/monodix/adjective/get-adj-pardefs.sh -text
dev/gsoc2011/monodix/adjective/get-adj-root.sh -text
dev/gsoc2011/monodix/adjective/tag-adj.sh -text
dev/gsoc2011/monodix/freshwords/distribute_words.py -text
dev/gsoc2011/monodix/freshwords/get-freq-todo.sh -text
dev/gsoc2011/monodix/freshwords/get-fresh-words.sh -text
dev/gsoc2011/monodix/freshwords/raw.freq.list -text
dev/gsoc2011/monodix/freshwords/todo.freq.list -text
dev/gsoc2011/monodix/noun/create_noun_monodix_entry.py -text
dev/gsoc2011/monodix/noun/fresh.noun -text
dev/gsoc2011/monodix/noun/get-noun-pardefs.sh -text
dev/gsoc2011/monodix/noun/get-noun-root.sh -text
dev/gsoc2011/monodix/noun/noun.bn.dix -text
dev/gsoc2011/monodix/noun/noun.bn.patch -text
dev/gsoc2011/monodix/noun/noun.inflections -text
dev/gsoc2011/monodix/noun/noun.pardefs -text
dev/gsoc2011/monodix/noun/tag-noun.sh -text
dev/gsoc2011/monodix/proper-noun/create_proper-noun_monodix_entry.py -text
dev/gsoc2011/monodix/proper-noun/fresh.proper-noun -text
dev/gsoc2011/monodix/proper-noun/get-proper-noun-pardefs.sh -text
dev/gsoc2011/monodix/proper-noun/get-proper-noun-root.sh -text
dev/gsoc2011/monodix/proper-noun/proper-noun.bn.dix -text
dev/gsoc2011/monodix/proper-noun/proper-noun.bn.patch -text
dev/gsoc2011/monodix/proper-noun/proper-noun.inflections -text
dev/gsoc2011/monodix/proper-noun/proper-noun.pardefs -text
dev/gsoc2011/monodix/proper-noun/tag-proper-noun.sh -text
dev/nltk-crblp-corpus/tag-details -text
dev/nltk-crblp-corpus/tag-mapping -text
dev/nltk-crblp-corpus/tagged_corpus/bangla-nltk.pos -text
dev/nltk-crblp-corpus/tagged_corpus/corpus_bangla_no_fw.txt -text
dev/nltk-crblp-corpus/tagged_corpus/corpus_bangla_no_fw_L1.txt -text
dev/nltk-crblp-corpus/tagged_corpus/corpus_bangla_spsal.txt -text
dev/noun/Noun.class.php -text
dev/noun/create-monodix-noun-enclitic.py -text
dev/noun/create-noun-dix.sh -text
dev/noun/create-speling-noun-from-working-copy.py -text
dev/noun/createNounWorkingCopy.php -text
dev/noun/gerund.list -text svneol=unset#application/octet-stream
dev/noun/inflectNouns.php -text
dev/noun/insert-from-extra-list.py -text
dev/noun/noun-extra.bn.list -text svneol=unset#application/octet-stream
dev/noun/noun.bn.dix -text
dev/noun/noun.bn.expand -text
dev/noun/noun.bn.speling -text
dev/noun/nounclasses/NounConjugatorFactory.class.php -text
dev/noun/nounclasses/NounInflectionRule.class.php -text
dev/noun/nounclasses/NounParadefBookRule.class.php -text
dev/noun/nounclasses/NounParadefKeyRule.class.php -text
dev/noun/nounclasses/NounParadefNoRule.class.php -text
dev/noun/nounclasses/NounParadefPenRule.class.php -text
dev/numerals/create-numerals-dix.sh -text
dev/numerals/create-numerals-speling.awk -text
dev/numerals/numerals.bn.dix -text
dev/numerals/numerals.bn.expand -text
dev/numerals/numerals.bn.list -text
dev/numerals/numerals.bn.speling -text
dev/paradigm-chopper.py -text
dev/postposition/create-postposition-dix.sh -text
dev/postposition/create-speling-postposition.py -text
dev/postposition/postposition.bn.dix -text
dev/postposition/postposition.bn.list -text svneol=unset#application/octet-stream
dev/postposition/postposition.bn.speling -text
dev/postposition/to-dix-quick.sh -text
dev/pre-process/world-list-01-01-10/wordlist.list -text
dev/pronoun/create-pronoun-dix.sh -text
dev/pronoun/create-speling-pronoun.py -text
dev/pronoun/pronoun.bn.dix -text
dev/pronoun/pronoun.bn.expand -text
dev/pronoun/pronoun.bn.speling -text
dev/proper-noun/country-list -text svneol=unset#application/octet-stream
dev/proper-noun/create-monodix-proper-noun-enclitic.py -text
dev/proper-noun/create-proper-noun-dix.sh -text
dev/proper-noun/create-speling-proper-noun.py -text
dev/proper-noun/insert-country-list-into-database.py -text
dev/proper-noun/proper-noun.bn.dix -text
dev/proper-noun/proper-noun.bn.expand -text
dev/proper-noun/proper-noun.bn.speling -text
dev/proper-noun/unknown/insert-unknown-to-db.py -text
dev/proper-noun/unknown/stage1 -text svneol=unset#application/octet-stream
dev/proper-noun/unknown/stage2 -text svneol=unset#application/octet-stream
dev/proper-noun/unknown/stage3 -text svneol=unset#application/octet-stream
dev/speling-paradigms.py -text
dev/split-speling.py -text
dev/tools/expand-paradigms.py -text
dev/tools/fix-spelling.py -text
dev/tools/merge-expanded-dix.sh -text
dev/tools/relaxed-diff.py -text
dev/tools/split-expand.py -text
dev/tools/verb-expand/0.expand -text
dev/tools/verb-expand/1.expand -text
dev/tools/verb-expand/10.expand -text
dev/tools/verb-expand/100.expand -text
dev/tools/verb-expand/101.expand -text
dev/tools/verb-expand/102.expand -text
dev/tools/verb-expand/103.expand -text
dev/tools/verb-expand/104.expand -text
dev/tools/verb-expand/105.expand -text
dev/tools/verb-expand/106.expand -text
dev/tools/verb-expand/107.expand -text
dev/tools/verb-expand/108.expand -text
dev/tools/verb-expand/109.expand -text
dev/tools/verb-expand/11.expand -text
dev/tools/verb-expand/110.expand -text
dev/tools/verb-expand/111.expand -text
dev/tools/verb-expand/112.expand -text
dev/tools/verb-expand/113.expand -text
dev/tools/verb-expand/114.expand -text
dev/tools/verb-expand/115.expand -text
dev/tools/verb-expand/116.expand -text
dev/tools/verb-expand/117.expand -text
dev/tools/verb-expand/118.expand -text
dev/tools/verb-expand/119.expand -text
dev/tools/verb-expand/12.expand -text
dev/tools/verb-expand/120.expand -text
dev/tools/verb-expand/121.expand -text
dev/tools/verb-expand/122.expand -text
dev/tools/verb-expand/123.expand -text
dev/tools/verb-expand/124.expand -text
dev/tools/verb-expand/125.expand -text
dev/tools/verb-expand/126.expand -text
dev/tools/verb-expand/127.expand -text
dev/tools/verb-expand/128.expand -text
dev/tools/verb-expand/129.expand -text
dev/tools/verb-expand/13.expand -text
dev/tools/verb-expand/130.expand -text
dev/tools/verb-expand/131.expand -text
dev/tools/verb-expand/132.expand -text
dev/tools/verb-expand/133.expand -text
dev/tools/verb-expand/134.expand -text
dev/tools/verb-expand/135.expand -text
dev/tools/verb-expand/14.expand -text
dev/tools/verb-expand/15.expand -text
dev/tools/verb-expand/16.expand -text
dev/tools/verb-expand/17.expand -text
dev/tools/verb-expand/18.expand -text
dev/tools/verb-expand/19.expand -text
dev/tools/verb-expand/2.expand -text
dev/tools/verb-expand/20.expand -text
dev/tools/verb-expand/21.expand -text
dev/tools/verb-expand/22.expand -text
dev/tools/verb-expand/23.expand -text
dev/tools/verb-expand/24.expand -text
dev/tools/verb-expand/25.expand -text
dev/tools/verb-expand/26.expand -text
dev/tools/verb-expand/27.expand -text
dev/tools/verb-expand/28.expand -text
dev/tools/verb-expand/29.expand -text
dev/tools/verb-expand/3.expand -text
dev/tools/verb-expand/30.expand -text
dev/tools/verb-expand/31.expand -text
dev/tools/verb-expand/32.expand -text
dev/tools/verb-expand/33.expand -text
dev/tools/verb-expand/34.expand -text
dev/tools/verb-expand/35.expand -text
dev/tools/verb-expand/36.expand -text
dev/tools/verb-expand/37.expand -text
dev/tools/verb-expand/38.expand -text
dev/tools/verb-expand/39.expand -text
dev/tools/verb-expand/4.expand -text
dev/tools/verb-expand/40.expand -text
dev/tools/verb-expand/41.expand -text
dev/tools/verb-expand/42.expand -text
dev/tools/verb-expand/43.expand -text
dev/tools/verb-expand/44.expand -text
dev/tools/verb-expand/45.expand -text
dev/tools/verb-expand/46.expand -text
dev/tools/verb-expand/47.expand -text
dev/tools/verb-expand/48.expand -text
dev/tools/verb-expand/49.expand -text
dev/tools/verb-expand/5.expand -text
dev/tools/verb-expand/50.expand -text
dev/tools/verb-expand/51.expand -text
dev/tools/verb-expand/52.expand -text
dev/tools/verb-expand/53.expand -text
dev/tools/verb-expand/54.expand -text
dev/tools/verb-expand/55.expand -text
dev/tools/verb-expand/56.expand -text
dev/tools/verb-expand/57.expand -text
dev/tools/verb-expand/58.expand -text
dev/tools/verb-expand/59.expand -text
dev/tools/verb-expand/6.expand -text
dev/tools/verb-expand/60.expand -text
dev/tools/verb-expand/61.expand -text
dev/tools/verb-expand/62.expand -text
dev/tools/verb-expand/63.expand -text
dev/tools/verb-expand/64.expand -text
dev/tools/verb-expand/65.expand -text
dev/tools/verb-expand/66.expand -text
dev/tools/verb-expand/67.expand -text
dev/tools/verb-expand/68.expand -text
dev/tools/verb-expand/69.expand -text
dev/tools/verb-expand/7.expand -text
dev/tools/verb-expand/70.expand -text
dev/tools/verb-expand/71.expand -text
dev/tools/verb-expand/72.expand -text
dev/tools/verb-expand/73.expand -text
dev/tools/verb-expand/74.expand -text
dev/tools/verb-expand/75.expand -text
dev/tools/verb-expand/76.expand -text
dev/tools/verb-expand/77.expand -text
dev/tools/verb-expand/78.expand -text
dev/tools/verb-expand/79.expand -text
dev/tools/verb-expand/8.expand -text
dev/tools/verb-expand/80.expand -text
dev/tools/verb-expand/81.expand -text
dev/tools/verb-expand/82.expand -text
dev/tools/verb-expand/83.expand -text
dev/tools/verb-expand/84.expand -text
dev/tools/verb-expand/85.expand -text
dev/tools/verb-expand/86.expand -text
dev/tools/verb-expand/87.expand -text
dev/tools/verb-expand/88.expand -text
dev/tools/verb-expand/89.expand -text
dev/tools/verb-expand/9.expand -text
dev/tools/verb-expand/90.expand -text
dev/tools/verb-expand/91.expand -text
dev/tools/verb-expand/92.expand -text
dev/tools/verb-expand/93.expand -text
dev/tools/verb-expand/94.expand -text
dev/tools/verb-expand/95.expand -text
dev/tools/verb-expand/96.expand -text
dev/tools/verb-expand/97.expand -text
dev/tools/verb-expand/98.expand -text
dev/tools/verb-expand/99.expand -text
dev/tools/verb-expand/filelist.txt -text
dev/uniq.py -text
dev/unknown/_20090802_1651-raw.list -text
dev/unknown/_20090802_1651.list -text
dev/unknown/insert-unknown-nouns-to-noun-source-freq.py -text
dev/unknown/insert-unknown-proper-nouns-to-noun-source-freq.py -text
dev/unknown/insert-unknowns-to-database.py -text
dev/unknown/noun.list -text svneol=unset#application/octet-stream
dev/unknown/process-unknown.py -text
dev/verb/Verb.class.php -text
dev/verb/classes/ConjugatorFactory.class.php -text
dev/verb/classes/InflectionRule.class.php -text
dev/verb/classes/Misc.class.php -text
dev/verb/classes/ParadefEatRule.class.php -text
dev/verb/classes/ParadefGoRule.class.php -text
dev/verb/classes/ParadefMakeDoRule.class.php -text
dev/verb/classes/ParadefNoRule.class.php -text
dev/verb/classes/ParadefTakeRule.class.php -text
dev/verb/classes/PardefDoRule.class.php -text
dev/verb/classes/PardefLayRule.class.php -text
dev/verb/classes/PardefLearnRule.class.php -text
dev/verb/classes/PardefOpenRule.class.php -text
dev/verb/classes/PardefShakeRule.class.php -text
dev/verb/create-monodix-verb-enclitic-neg.py -text
dev/verb/create-monodix-verb-enclitic.py -text
dev/verb/create-verb-dix.sh -text
dev/verb/create-verb-working-copy.php -text
dev/verb/get-gerund.sh -text
dev/verb/speling-verb-new -text
dev/verb/spelingVerb.tar.bz2 -text
dev/verb/verb.bn.dix -text
dev/verb/verb.bn.expand -text
dev/verb/verb.bn.list -text svneol=unset#application/octet-stream
dev/verb/write-verb-speling-format.php -text
/en-bn.prob -text svneol=unset#unset
eval/create-prothom-alo-corpora.sh -text
/inconsistency.sh -text
/modes.xml -text
/pending-tests.sh -text
/regression-tests.sh -text
