/*.bin
/*.hfst
/*.mode
/.deps
/COPYING
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/automa4te.cache
/config
/config.in
/config.log
/config.status
/configure
/install-sh
/install.sh
/missing
/modes
/stamp-h1
